body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #581845;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

nav {
  background-color: #900C3F;
  text-align: center;
  padding: 5px 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.container {
  text-align: center;
  padding: 20px;
}

.content-box {
  display: inline-block;
  width: 45%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.image {
  max-width: 100px;
  margin-right: 10px;
  vertical-align: middle;
}

.text-content {
  display: inline-block;
  width: calc(100% - 120px);
  vertical-align: middle;
}

footer {
  background-color: #581845;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

/* Media query for smaller screens (phones) */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-box {
    width: 100%;
  }

  .image {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .text-content {
    width: 100%;
    text-align: center;
  }
}
